@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    var top = Model.response.top.ToArray();
    Random rnd = new Random();
}

<div class="container text-center text-light bg-secondary">
    <h1 class="display-4">Featured Animes</h1>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="card border-0 bg-secondary">
                        <div class="card-img">
                            <a href="@top[0].url" target="_blank"><img src="@top[0].image_url" width="300" height="500" class="d-block m-auto" alt="first slide"></a>
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link bg-dark text-light" asp-page="/AnimeStuff/AnimeDetails" asp-route-Anime="@top[0].title" alt="cover photo of @top[0].title">@top[0].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0 bg-secondary">
                        <div class="card-img">
                            <a href="@top[1].url" target="_blank"><img src="@top[1].image_url" width="300" height="500" class="d-block m-auto" alt="second slide"></a>
</div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link bg-dark text-light" alt="cover photo of @top[1].title" asp-page="/AnimeStuff/AnimeDetails" asp-route-Anime="@top[1].title">@top[1].title </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0 bg-secondary">
                        <div class="card-img">
                            <a href="@top[2].url" target="_blank"><img src="@top[2].image_url" width="300" height="500" class="d-block m-auto" alt="third slide"></a>
</div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link bg-dark text-light"asp-page="/AnimeStuff/AnimeDetails" asp-route-Anime="@top[2].title" alt="cover photo of @top[2].title">@top[2].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0 bg-secondary">
                        <div class="card-img">
                            <a href="@top[3].url" target="_blank"><img src="@top[3].image_url" width="300" height="500" class="d-block m-auto" alt="fourth slide"></a>
</div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link bg-dark text-light" asp-page="/AnimeStuff/AnimeDetails" asp-route-Anime="@top[3].title" alt="cover photo of @top[3].title">@top[3].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0 bg-secondary">
                        <div class="card-img">
                            <a href="@top[4].url" target="_blank"><img src="@top[4].image_url" width="300" height="500" class="d-block m-auto" alt="fifth slide"></a>
</div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link bg-dark text-light" asp-page="/AnimeStuff/AnimeDetails" asp-route-Anime="@top[4].title" alt="cover photo of @top[4].title">@top[4].title</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev bg-dark h-25" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-dark h-25" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--
<div class="container bg-secondary text-center text-light mt-3">
    <h2>Statistics on top 50 animes</h2>
    @*{
        foreach (var anime in top)
        {
            <p>Episodes @anime.episodes</p>
            <p>Members @anime.members</p>
        }
    }*@
</div>
    -->
