@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    var top = Model.response.top.ToArray();
    Random rnd = new Random();
    int[] random = new int[5] { rnd.Next(1, 50), rnd.Next(1, 50), rnd.Next(1, 50), rnd.Next(1, 50), rnd.Next(1, 50) };
}

<div class="text-center">
    <h1 class="display-4">Featured Animes</h1>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="card border-0">
                        <div class="card-img">
                            <img src="@top[random[0]].image_url" class="d-block m-auto h-25 w-25" alt="first slide">
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link" href="@top[random[0]].url">@top[random[0]].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0">
                        <div class="card-img">
                            <img src="@top[random[1]].image_url" class="d-block m-auto h-25 w-25" alt="first slide">
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link" href="@top[random[1]].url">@top[random[1]].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0">
                        <div class="card-img">
                            <img src="@top[random[2]].image_url" class="d-block m-auto h-25 w-25" alt="first slide">
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link" href="@top[random[2]].url">@top[random[2]].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0">
                        <div class="card-img">
                            <img src="@top[random[3]].image_url" class="d-block m-auto h-25 w-25" alt="first slide">
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link" href="@top[random[3]].url">@top[random[3]].title</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="card border-0">
                        <div class="card-img">
                            <img src="@top[random[4]].image_url" class="d-block m-auto h-25 w-25" alt="first slide">
                        </div>
                        <div class="card-body w-50 m-auto">
                            <a class="page-link" href="@top[random[4]].url">@top[random[4]].title</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev bg-dark h-25" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-dark h-25" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
