@page "{Anime}/{AnimeId:int}"
@model FA2021AnimeDashboard.Pages.Animestuff.Details.EpisodesDetailsModel
@{
}

<div class="container text-center bg-secondary w-50 py-2">
    @if (Model.response.episodes.Count == 0)
    {
        <p class="text-light">No episodes found! Check if @Model.Anime has begun airing.</p>
    }
    <a class="text-light" asp-page="/Animestuff/AnimeDetails" asp-route-Anime="@Model.Anime">Go back to details</a>



    @foreach (episode episode in Model.response.episodes)
    {
        <div class="card mb-2">
            <a class="card-title text-dark" onclick="window.open('@episode.forum_url');">
                <div class="card-header">
                    <h2>@episode.title</h2>
                </div>
            </a>
            <div class="card-body">
                @if (episode.aired != null)
                {
                    <p>Aired: @episode.aired</p>
                }
                @if (episode.filler == true)
                {
                    <p>Warning this episode is filler!</p>
                }
                @if (episode.recap == true)
                {
                    <p>This episode contains a recap.</p>
                }
                <button class="btn btn-primary" onclick="window.open('@episode.video_url');">Check out the episode here!</button>
            </div>
        </div>
    }
</div>
