@page "{Anime}"
@model FA2021AnimeDashboard.Pages.Animestuff.searchResultsModel
@{
}
<div class="container bg-secondary py-2">
    @foreach (Anime anime in Model.response.results)
    {
    <div class="card text-center mb-2">
        <div class="card-header">
            <p class="card-title">@anime.title</p>
        </div>
        <div class="card-img">
            <img src="@anime.image_url" />
        </div>
        <div class="card-body">
            <p>User Rating: @anime.score/10</p>
            <p>@anime.synopsis</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="goTo('@anime.title');">Details</button>
        </div>
    </div>
    }
</div>
<script>
    function goTo(anime) {
        window.location.href = "/Animestuff/AnimeDetails/" + anime;
    }
</script>
